body {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.about-big-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 52px;
    background-color: white;
    color: #CE7A2D;
}

.about-small-title {
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 44px;
    padding-bottom: 40px;
}

@media screen and (max-width: 999px) {
    .video {
        height: 50vh !important;
        width: unset !important;
    }
    .about-big-title {
        padding: 20px;
        font-size: 38px;
    }
    .about-small-title {
        font-size: 24px;
        padding-bottom: 5px;
    }
}